@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Prata&display=swap");
@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

.prata-regular {
  font-family: "Prata", serif;
}

a.active hr {
  display: block;
}

@media (max-width: 640px) {
  a.active {
    background-color: #f1f1f1;
  }
}
